.menu {
  display: flex;
  flex-direction: column;
}

.FMH6 {
  margin-top: 0;
  margin-bottom: 19px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #000000;
}

.menu a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 42px;
}

.menu a:last-child {
  margin-bottom: 0;
}
